{% extends "base.html" %}
{% block content %}    

<div class="main">
    <div class="row">
        <div class="col-12">
            <h3>HOW IT WORKS</h3>
            <p>Getting started is quick and easy.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 how-it-works">
            <i class="fa-solid fa-link"></i>
            <h3>SIGN UP</h3> 
            <p>Join the platform and link your account with a sporting group or friends.</p>
        </div>
        <div class="col-4 how-it-works">
            <i class="fa-solid fa-person-walking"></i>
            <h3>EXERCISE</h3> 
            <p>Get out there and be active.</p>
        </div>
        <div class="col-4 how-it-works">
            <i class="fa-solid fa-map" aria-hidden="true"></i>
            <h3>PROGRESS</h3> 
            <p>Log your activity and see how far you have gone compaired to others</p>
        </div>
    </div>
</div>


{% endblock %}