{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-6 intro main">
            <h1>
                START SOMETHING NEW
            </h1>
            <p>A platform for corporate wellness, a launchpad for your health and fitness</p>
        </div>
    <div class="col-6">
        <!-- register -->

            <a href="{{ url_for('register') }}" class="btn btn-warning">
                Register <i class="fa-solid fa-sign-in-alt" aria-hidden="true"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-6 main">
            <img src="{{ url_for('static', filename='images/comp-view.png') }}" alt="">
        </div>
    <div class="col-6 main">
       <h3> CREATE YOUR OWN </h3>
       <h3> FITNESS CHALLENGE </h3> 
<p> Stay focused and motivated to exercise by creating your own fitness challenge!</p>

<p> Plot start and end points on the map and each time you go running, cycling, swimming etc. you'll advance along the path. </p> 
    </div>
</div>


{% endblock %}