{% extends "base.html" %}
{% block content %}

<div class="main">
    <!-- Sub Navigation & Title -->
    <div class="row">
        <div class="col-2 link-text mob d-block d-md-none "><a href="{{ url_for('admin') }}"><i
                    class="fa-solid fa-circle-left" aria-hidden="true"></i></a> </div>
        <div class="col-3 link-text d-none d-md-block"><a href="{{ url_for('admin') }}"><i
                    class="fa-solid fa-circle-left" aria-hidden="true"> Admin</i></a> </div>
        <div class="col-6">
            <h3 class="text-center">Add Landmark</h3>
        </div>
    </div>
    <div class="row card form">
        <form method="POST" action="{{ url_for('add_landmark') }}">
            <div class="row">
                <!-- Landmark Name -->
                <div class="col-12 col-md-9">
                    <label for="landmark_name" class="form-label">Landmark Name:</label>

                    <input id="landmark_name" name="landmark_name" minlength="3" maxlength="50" type="text"
                        class="form-control" required>
                        <p><i class="fa-solid fa-check"></i> Must be unique</p>
                </div>
                <!-- Modal Link -->
                <div class="col-12 col-md-3">
                    <label for="modal_link" class="form-label">Modal Link:</label>

                    <input id="modal_link" name="modal_link" minlength="1" maxlength="3" type="text"
                        class="form-control" required>
                        <p><i class="fa-solid fa-check"></i> Format e.g. (L1, L2 .. etc) Must be unique</p>
                </div>
            </div>
            <!-- Main Image -->
            <div class="col">
                <label for="main_image" class="form-label">Main Image:</label>

                <input id="main_image" name="main_image" type="text" class="form-control" required>
                <p><i class="fa-solid fa-check"></i> Just the file name ecluding the .jpeg</p>

            </div>
            <!-- Body Text-->
            <div class="col">
                <label for="body_text" class="form-label">Main content text:</label>
                <textarea id="body_text" name="body_text" rows="4" cols="50" class="form-control" required></textarea>

            </div>
            <div class="row">
                <!-- Longitude -->
                <div class="col-12 col-md-6">
                    <label for="longitude" class="form-label">Longitude:</label>

                    <input id="longitude" name="longitude" type="number" step="any" class="form-control" required>
                    <p><i class="fa-solid fa-check"></i> Number only</p>
                </div>
                <!-- Latitude -->
                <div class="col-12 col-md-6">
                    <label for="latitude" class="form-label">Latitude:</label>

                    <input id="latitude" name="latitude" type="number" step="any" class="form-control" required>
                    <p><i class="fa-solid fa-check"></i> Number only</p>
                </div>
            </div>
            <div class="row">
                <!-- Submit Button -->
                <div class="col text-center">
                    <button type="submit" class="btn btn-warning button-margin">
                        Add Landmark <i class="fa-solid fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}