{% extends "base.html" %}
{% block content %}

<div class="main">
<div class="row">
    <div class="col-12 text-center">
            <h2>
                WELCOME {{ user_data.first_name }} {{ user_data.last_name }}
            </h2>
            <p>A platform for corporate wellness, a launchpad for your health and fitness</p>
            <hr>
        </div>
</div>

<div class="row">
    <div class="col-12 col-md-3"> <p>You are currently part of the <span>{{ user_data.group_name }}</span> group.</p></div>
    <div class="col-6 col-md-3"><p>Your Icon is currently: </p></div>
    <div class="col-6 col-md-1 icon"><img src="{{ url_for('static', filename='images/markers/' + icon  + '.png') }}" alt=""></div>
    <div class="col-8 col-md-3"><p>If you wish to change either of these you can at:</p></div>
    <div class="col-4 col-md-2"> <a href="{{ url_for('settings') }}" class="btn btn-edit">Settings! </a></div>
</div>
<hr>


<!-- DASHBOARD OPEN -->
<div class="col-12 text-center">
    <h1>YOUR PROGRESS</h1>
    <p>This is an overview of your current progress.</p>
    <div class="row text-center">
    <!-- Total Panel -->
    <div class="col-12 col-md-4">
      <div class="box-style">
        <label class="title"> Total Distance</label>
        <div class="dashboard"> <span>{{ user_data.total_distance }}</span> </div>
        <label class="title"> Miles </label>
      </div>
    </div>
    <!-- Laps Panel -->
    <div class="col-12 col-md-4">
      <div class="box-style">
        <label class="title"> Completed</label>
        <div class="dashboard"> <span>{{ user_data.laps}}</span> </div>
        <label class="title"> Laps </label>
      </div>
    </div>
    <!-- Distance Panel -->
    <div class="col-12 col-md-4">
      <div class="box-style">
        <label class="title"> Current Lap Distance</label>
        <div class="dashboard"> <span>{{ user_data.current_distance }}</span> </div>
        <label class="title"> Miles </label>
      </div>
    </div>
      <!-- Distance Panel -->
  </div>
  </div> <!-- col-12 -->
  <!-- DASHBOARD CLOSE -->


<div class="row">
  <div class="col-12">  <br>
    <h3>Want to leave?</h3></div>
    <div class="col-9">
    <p>No problem, you can delete you account and all data posted for total peace of mind here.</p></div>
    <div class="col-3 text-center"><button data-bs-toggle="modal" class="btn btn-danger btn-sm"
        data-bs-target="#modal-{{  session['user'] }}"> Delete </button></div>
</div>

                <!-- Confirmation Modal -->
                <div class="modal" id="modal-{{  session['user'] }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure you want to delete your account?</h4>
                                <p>All data will be deleted with this action!</p>
                                <p>This action cannot be undone!</p>
                                <h2>DO YOU UNDERSTAND?</h2>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a href="{{ url_for('delete_self',  user_id=session['user']) }}"
                                    class="btn btn-danger">Yes, Delete my account! </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}