{% extends "base.html" %}
{% block content %}

<div class="main">
<div class="container form-box d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h3>Register A Group Name</h3>
            <p>You can create you own unique group name, you will need to then invite your friends
                to update there group name in the setting so that you can all be grouped together on the system.</p>

            <form method="POST" action="{{ url_for('register_group') }}">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <!-- Group name -->
                        <div class="mb-3">
                            <i class="fa-solid fa-user" aria-hidden="true"></i>
                            <label for="name">Group Name</label>
                            <input type="text" name="name" minlength="3" maxlength="15" pattern="^[a-zA-Z]{3,15}$"
                                class="form-control" id="name" aria-describedby="name" required>
                                <p><i class="fa-solid fa-check"></i> No numbers or spaces</p>
                                <p><i class="fa-solid fa-check"></i> No special characters</p>
                                <p><i class="fa-solid fa-check"></i> Between 3 - 15 characters</p>
                                <p><i class="fa-solid fa-check"></i> Must be a unique name</p>
                        </div>
                        <!-- register -->
                        <button type="submit" class="btn btn-warning">Register<i class="fa-solid fa-sign-in-alt"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
</div>

{% endblock %}