{% extends "base.html" %}
{% block content %}


<div class="main">
    <!-- Sub Navigation & Title -->
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Settings</h3>
        </div>
    </div>
    <div class="row card form">
        <form method="POST" action="{{ url_for('settings', user_id=session['user']) }}">
            <div class="row">

                <div class="row">
                    <!-- Email -->
                    <div class="col-12 col-md-6">
                        <label for="email" class="form-label">Email Address:</label>
                        <input id="email" name="email" value="{{ settings.email }}" minlength="8" maxlength="50"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" class="form-control" required>

                    </div>
                    <!-- Group Name -->
                    <div class="col-12 col-md-6">
                        <label for="group_name" class="form-label">Group Name:</label>
                        <select id="group_name" name="group_name" class="form-control" required>

                            <option value="{{ settings.group_name }}" disabled>Choose Type</option>
                            <!-- for loop to get choices of groups -->
                            {% for group in groups %}
                            <option value="{{ group.name }}" {% if settings.group_name == group.name %} selected
                                {% endif %}>
                                {{ group.name }}</option>
                            {% endfor %}
                        </select>
                        <p><i class="fa fa-people-group"></i> Want to create your own group?<a
                                href="{{ url_for('register_group') }}">click here</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="icon_num" class="form-label">Choose your Icon:</label><br>
                        <p>Which icon you would like to use</p>
                        {% for key, value in icons.items() %}
                        <div class="grid icon">
                            <input type="radio" id="{{ key }}" name="icon_num" value="{{ key }}" {% if key == num_str %}
                                checked {% endif %}>
                            <img src="{{ url_for('static', filename='images/markers/' + value  + '.png') }}" alt="">
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <div class="row">
                    <!-- Submit Button -->
                    <div class="col text-center">
                        <button type="submit" class="btn btn-warning button-margin">
                            Edit Settings<i class="fa-solid fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>

{% endblock %}