{% extends "base.html" %}
{% block content %}    

<div class="container form-box d-flex justify-content-center main">
    <div class="row">
        <div class="col">
            <h3>Calculating Total Distance</h3>
    
            <div class="loader"></div>
            
    
        </div>
    </div>
</div>

<!-- Now the data has loaded redirect to user_json -->
<script type="text/javascript">
    setTimeout(function() {
        window.location.href = "{{ url_for('user_json') }}";
    },500);
  </script>
{% endblock %}