{% extends "base.html" %}
{% block content %}


<div class="main">
    <div class="container form-box d-flex justify-content-center">
        <div class="row">
            <div class="col">
                <h3>Setting up your account</h3>
                <div class="loader"></div>
            </div>
        </div>
    </div>
</div>

<!-- Now the data has loaded redirect to profile -->
<script type="text/javascript">
    setTimeout(function () {
        window.location.href = "{{ url_for('profile') }}";
    }, 1000);
</script>


{% endblock %}