@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Teko:wght@300&display=swap');

p {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
.popover-header,
.main-menuitem span
.flashes {
  font-family: 'Teko', sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */ 
    background-color: #F3F3F4;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #48515B;
  }

  .flashes h4 {
    line-height: 2;
    color: red;
  }

.flash {
  margin-top: 80px;
  text-align: center;
}

.main {
  margin-top: 20px;
}

.form-box {
  max-width: 315px;
  min-height: 530px;
}

#map {
  height: 500px;
}

/* ------------- Internal navigation -----*/

.main-menuitem a i {
  display: block;
  font-size: 22px;
}

.main-menuitem span {
  font-size: 10px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#mob-nav,
#nav {
  z-index: 1;
}

.main-menuitem {
  padding: 10px 0px 0px 0px;
  text-align: center;
  text-transform: uppercase;
}

ol, ul {
  padding-left: 0rem;
}

.col-4-xs {
  width: 32%;
}
.main-menuitem a {
  text-decoration: none;
}

.main-menuitem a,
.main-menuitem a i,
body {
   color: #48515B;
}

.selected:before,
.link-text i:hover {
   color: #FDDA0D;
}

.hvr-underline-from-center:before,
.radio-toolbar label:hover {
   background-color: #FDDA0D;
}

.popover-header {
   background-color: #FDDA0D;
}


.data_dark p {
  color: #859583;
}

.data-block {
  border: solid 1px #197b7b;
}

