@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;1,200&family=Teko:wght@300&display=swap');


/* ------------- Site wide  ----------- Font Family */

p {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
a,
.popover-header,
.main-menuitem span,
.footer-menuitem span,
.flashes h4 {
  font-family: 'Teko', sans-serif;
}


/* ------------- Site wide  ----------- Colours */
h1,
h2,
h3,
h4,
a,
.offcanvas-title,
p,
label, .fa-user:before {
  color: #2e5266;
}

.offcanvas {
  background-color: #50A5B1;
}

.form-control {
  appearance: auto;
}

.panel.label,
.btn-delete,
a:not([href]):not([class]) {
  color:#FCFAF9;
}

.header,
.btn-edit {
  background: #50A5B1;
 }

 .card {
  background-color: rgba(80,165,177, 0.5);
}

.main-menuitem a,
.main-menuitem a i,
body,
hr {
   color: #2e5266;
}


.how-it-works i,
.footer-menuitem a,
.footer-menuitem a i {
  color: #50A5B1;
}


.selected:before,
.link-text i:hover,
.flashes h4 {
   color: #F0C808;
}

.hvr-underline-from-center:before,
.radio-toolbar label:hover {
   background-color: #F0C808;
}

.popover-header {
   background-color: #F0C808;
}


.data_dark p {
  color: #859583;
}

.data-block {
  border: solid 1px #197b7b;
}

.footer,
.btn-delete,
.flashes h4
{
background-color: #2e5266;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


a,
.subtle a{
  text-decoration: none;
}
  body {
    clear: left;
    background: url("../images/runner.png");
    background-size: cover;
    background-position: center;
    color:rgba(248, 246, 246, 0.8);
    background-repeat: no-repeat;
    margin-bottom: 60px; /* Margin bottom by footer height */ 
 }

.how-it-works i {
  font-size: 100px;
}

.how-it-works {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.icon img {
  height: 30px;
  width: 30px;
}
.intro h1 {
  font-size: 150px;
}

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    
  }

  .flashes h4 {
    line-height: 2;
  }

.flash {
  margin-top: 80px;
  text-align: center;
}

.main {
  margin-top: 20px;
  background-color: rgba(248, 246, 246, 0.8);
}

.form-box {
  max-width: 315px;
  min-height: 530px;
}

/* ------------- Media Queries  ----------- All Mobile & Nexus 7 Tablet */

@media only screen and (max-width: 576px) {

#map {
  height: 300px;
}

.main {
  padding: 10px;
}

}

/* ------------- Media Queries  ----------- All Mobile & Nexus 7 Tablet */

@media only screen and (min-width: 577px) {

#map {
  height: 500px;
}

.main {
  padding: 30px;
}
}

.btn-delete,
.btn-edit {
  text-align:center;
}

/* ------------- Internal navigation -----*/

.footer-menuitem a i,
.main-menuitem a i {
  display: block;
  font-size: 22px;
}

.footer-menuitem span,
.main-menuitem span {
  font-size: 10px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.menucontainer {
  font-size: 0;
}

#mob-nav,
#nav {
  z-index: 1;
}

.footer-menuitem,
.main-menuitem {
  padding: 10px 0px 0px 0px;
  text-align: center;
  text-transform: uppercase;
}

ol, ul {
  padding-left: 0rem;
}

.col-4-xs {
  width: 32%;
}

.footer-menuitem a,
.main-menuitem a {
  text-decoration: none;
}

/* ------------- CSS for loader -----*/

.loader {
  border: 16px solid #2e5266;
  border-radius: 50%;
  border-top: 16px solid #50A5B1;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ------------- Internal navigation -----*/




.comment {
  padding: 12px;
}