{% extends "base.html" %}
{% block content %}


<h3 class="center">Chat</h3>
<!-- Loop to Display data for the comments -->
<div>
    {% for users, chat_log in get_chat %}
    <div class="row data-block">
        <div class="col-6"><span>{{ users.first_name }}</span></div>
        <div class="col-6 data_dark">
            <p>Date: {{ chat_log.date }}</p>
        </div> 
        <div class="col-12">
            <p> {{ chat_log.comment }}</p>
        </div>
        <div class="col-3">
            <!-- Hide buttons for non admin users -->
            {% if users.user_id == session["user"] %}
            <a href="{{ url_for('edit_comment', comment_id=chat_log.comment_id) }}" >Edit</a>
            <a data-bs-toggle="modal" data-bs-target="#modal-{{ chat_log.comment_id }}"> Delete </a>

                <!-- Confirmation Modal -->
                <div class="modal" id="modal-{{ chat_log.comment_id }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure you want to delete this comment?</h4>
                                <p>This action cannot be undone!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                <a href="{{ url_for('delete_comment', comment_id=chat_log.comment_id) }}"
                                    class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
        </div>
        
    </div> <!-- row -->
</div> <!-- options-form-item-full -->
{% endfor %}


<div class="row">
    <div class="col">

        <form method="POST" action="{{ url_for('chat') }}">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <!-- distance -->
                    <div class="mb-3">
                        <label for="comment">Comment</label>
                        <input type="text" name="comment" minlength="3" maxlength="150" class="form-control"
                            id="comment" aria-describedby="comment" required>
                    </div>
                    <!-- Submit -->
                    <button type="submit" class="btn btn-warning">Comment<i class="fas fa-comment-dots"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>




{% endblock %}