{% extends "base.html" %}
{% block content %}


<div class="container form-box d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <h3>Post An Activity</h3>

            <form>
                <!-- distance -->
                <div class="form-group row">
                    <label for="distance" class="col-sm-2 col-form-label">Distance</label>
                    <div class="col-sm-10">
                        <input type="number" name="distance" min="2" max="100" step="0.1" class="form-control"
                            id="distance" aria-describedby="distance" required>
                    </div>
                </div>
                <!-- activity type -->
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Activity Type</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="activity_type" id="run" value="Run"
                                    checked>
                                <label class="form-check-label" for="run">Run</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="activity_type" id="walk"
                                    value="Walk">
                                <label class="form-check-label" for="walk">Walk</label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="activity_type" id="ride"
                                    value="Ride">
                                <label class="form-check-label" for="ride">Ride</label>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <!-- commute? -->
                <div class="form-group row">
                    <div class="col-sm-2">Was this a Commute?</div>
                    <div class="col-sm-10">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="yes" name="commute">
                            <label class="form-check-label" for="yes">
                                Yes
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Submit -->
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-warning">Submit<i class="fa-solid fa-sign-in-alt"
                                aria-hidden="true"></i></button>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>


{% endblock %}