{% extends "base.html" %}
{% block content %}


<h3 class="d-flex justify-content-center">Settings</h3>

  <div class="row card">
    <form method="POST" action="{{ url_for('settings', user_id=session['user']) }}">
        <!-- Icon Url -->
        <div class="mb-3">
            <label for="icon_url" class="form-label">Icon Url:</label>
            <input id="icon_url" name="icon_url" value="{{ settings.icon_url }}" minlength="3" maxlength="25" type="text" class="form-control" required>
        </div>
        <!-- Icon Num -->
        <div class="mb-3">
            <label for="icon_num" class="form-label">Icon Num:</label>
            <input id="icon_num" name="icon_num" value="{{ settings.icon_num }}" minlength="1" maxlength="2" type="number" class="form-control" >
        </div>
        <!-- Email -->
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input id="email" name="email" value="{{ settings.email }}" minlength="1" maxlength="3" type="text" class="form-control" required>
        </div>
        <!-- Group Name -->
        <div class="mb-3">
            <label for="group_name" class="form-label">Group Name:</label>
            <input id="group_name" name="group_name" value="{{ settings.group_name }}" type="text" class="form-control" required>
        </div>
         
         <!-- Submit Button -->
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-warning">
                Edit Settings <i class="fa-solid fa-plus" aria-hidden="true"></i>
            </button>
        </div>
      </form>
  </div>


  <div class="row subtle">
    
    <div class="btn btn-danger"><a data-bs-toggle="modal"
        data-bs-target="#modal-{{  session['user'] }}"> Delete </a></div>
</div>

                <!-- Confirmation Modal -->
                <div class="modal" id="modal-{{  session['user'] }}" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure you want to delete your account?</h4>
                                <p>All data will be deleted with this action!</p>
                                <p>This action cannot be undone!</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
                                <a href="{{ url_for('delete_self',  user_id=session['user']) }}"
                                    class="btn btn-success">Yes</a>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
